<div class="right-menu-container">
  <div class="contrast-button">
    <i class="fas fa-adjust"></i>
  </div>

  <nav class="menu-items">
    <div class="menu-item active">
      <div class="menu-popup">
        <span>Home</span>
      </div>
      <div class="menu-icon">
        <i class="fas fa-home"></i>
      </div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">
        <i class="fas fa-code"></i>
      </div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">
        <i class="fas fa-file-alt"></i>
      </div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">
        <i class="fas fa-briefcase"></i>
      </div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">
        <i class="fas fa-blog"></i>
      </div>
    </div>

    <div class="menu-item">
      <div class="menu-icon">
        <i class="fas fa-envelope"></i>
      </div>
    </div>
  </nav>
</div>
