<div class="education-container">
  <h2 class="section-title">Education</h2>
  <p class="section-description">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. lorem ipsum
  </p>

  <div class="education-details">
    <div class="education-item">
      <div class="education-left">
        <h3>University of Toronto</h3>
        <p class="role">Student</p>
        <div class="date-badge">
          <span>Jan 1016 - Dec 2021</span>
        </div>
      </div>
      <div class="education-right">
        <h3>Certificate of web training</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus
          nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed
          amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et
          pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </div>

    <div class="divider"></div>

    <div class="education-item">
      <div class="education-left">
        <h3>Programming Course</h3>
        <p class="role">Student</p>
        <div class="date-badge">
          <span>Jan 1016 - Dec 2021</span>
        </div>
      </div>
      <div class="education-right">
        <h3>Certificate of web training</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus
          nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed
          amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et
          pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </div>

    <div class="divider"></div>

    <div class="education-item">
      <div class="education-left">
        <h3>Web developer courses</h3>
        <p class="role">Student</p>
        <div class="date-badge">
          <span>Jan 1016 - Dec 2021</span>
        </div>
      </div>
      <div class="education-right">
        <h3>Certificate of web training</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus
          nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed
          amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et
          pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </div>
  </div>
</div>
