<div class="main-menu-container">
  <div class="background-image"></div>

  <div class="content">
    <div class="text-content">
      <h1>
        I'm Ngoc Mai<br /><span class="highlight">Front-end</span
        ><span> Developer</span>
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat
        feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc
        lectus.
      </p>
      <button class="hire-me-btn">
        HIRE ME
        <span class="icon">
          <i class="fas fa-arrow-right"></i>
        </span>
      </button>
    </div>

    <div class="profile-image">
      <img src="assets/images/profile-image.png" alt="Rayan Adlrdard" />
    </div>
  </div>

  <div class="decorative-elements">
    <div class="circle green-circle-1"></div>
    <div class="circle green-circle-2"></div>
    <div class="circle orange-circle-1"></div>
    <div class="circle orange-circle-2"></div>
    <div class="rectangle orange-rect"></div>
    <div class="rectangle blue-rect"></div>
    <div class="polygon red-polygon"></div>
  </div>
</div>
